<section>
    <div class="container">
        <h1>Edit product</h1>
        <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group" >
                <label for="exampleInputEmail1">Name</label>
                <input type="text" name="name" class="form-control" value="{{product.name}}">

                <label for="exampleInputEmail1">Category</label>
                <input type="text" name="category" class="form-control" value="{{product.category}}">

                <label for="exampleInputEmail1">Price</label>
                <input type="number" name="price" class="form-control" value="{{product.price}}">

                <label for="exampleInputEmail1">Description</label>
                <input type="text" name="description" class="form-control" value="{{product.description}}">

                <label for="exampleInputEmail1">Image</label>
                <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height:auto;" id="imgView">  
                <input type="file" name="Image" class="form-control" onchange="viewImage(event)">


            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</section>
<script>
    function viewImage(event){
       document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])}
</script>