<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    
                    <td><img style="width: 50px; height:auto;" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.name}}</td>
                    
                    <td>
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>{{this.quantity}}<button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    function changeQuantity(cartId,proId,count){
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:proId,
                count:count
            },
            method:'post',
            success:(response)=>{
                alert(response)
            }
        })
    }
</script>